*{
    margin: 0;
    font-family: 'poppins', sans-serif;
    padding: 0%;
    color: #fff;
  }
body{
   background:linear-gradient(135deg,purple,cyan,black) no-repeat;
   height: 100vh;
   width: 100%;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
   
h1{
    margin:0 40px
  }
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0;
    border: 2px solid transparent;
    filter: drop-shadow(2px 2px 4px transparent);
}
nav ul li a:hover{
    border-bottom: 2px solid white;
    filter: drop-shadow(2px 2px 4px white);
    transition: 0.5s;
}
input{
    width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    margin-right: 40px;
    color: black;
}
.main{
    margin-top: 2%;
    margin-right: 60%;
}
.content{
    margin-top: 10%;
    margin-right: 12%;
    float: right;
}
h2{
    font-size: 45px;
    color: #fff;
}
p{
    font-size: 20px;
    margin-top: 10px;
}
